[package]
name = "sensirion-i2c-rs"
version = "0.1.0"
authors = ["Raphael Nestler <raphael.nestler@sensirion.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
